USE [bankamatik]
GO
/****** Object:  Table [dbo].[hareketler]    Script Date: 6.01.2023 02:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hareketler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[musteriID] [int] NULL,
	[islem] [nvarchar](50) NULL,
	[tarih] [date] NULL,
 CONSTRAINT [PK_hareketler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 6.01.2023 02:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tcNo] [nvarchar](12) NULL,
	[adSoyad] [nvarchar](50) NULL,
	[adres] [nvarchar](50) NULL,
	[telefon] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[bakiye] [decimal](18, 2) NULL,
	[durum] [bigint] NULL,
	[euro] [decimal](18, 3) NULL,
	[dolar] [decimal](18, 3) NULL,
 CONSTRAINT [PK_musteriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[hareketler] ON 

INSERT [dbo].[hareketler] ([ID], [musteriID], [islem], [tarih]) VALUES (1, 1, N'para yatırdı', CAST(N'2022-12-27' AS Date))
INSERT [dbo].[hareketler] ([ID], [musteriID], [islem], [tarih]) VALUES (2, 6, N'Para Çekildi', CAST(N'2022-12-31' AS Date))
INSERT [dbo].[hareketler] ([ID], [musteriID], [islem], [tarih]) VALUES (3, 6, N'Para Yatırılıdı', CAST(N'2022-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[hareketler] OFF
GO
SET IDENTITY_INSERT [dbo].[musteriler] ON 

INSERT [dbo].[musteriler] ([ID], [tcNo], [adSoyad], [adres], [telefon], [sifre], [bakiye], [durum], [euro], [dolar]) VALUES (1, N'12', N'Buğra', N'izmit', N'(123) 124-1231', N'123456', CAST(8970.51 AS Decimal(18, 2)), 1, CAST(80.000 AS Decimal(18, 3)), CAST(85.000 AS Decimal(18, 3)))
INSERT [dbo].[musteriler] ([ID], [tcNo], [adSoyad], [adres], [telefon], [sifre], [bakiye], [durum], [euro], [dolar]) VALUES (3, N'31510993988', N'Buğrahan', N'Kocaeli', N'(544) 206-5950', N'123456', CAST(7350.00 AS Decimal(18, 2)), 1, CAST(55.000 AS Decimal(18, 3)), CAST(75.000 AS Decimal(18, 3)))
INSERT [dbo].[musteriler] ([ID], [tcNo], [adSoyad], [adres], [telefon], [sifre], [bakiye], [durum], [euro], [dolar]) VALUES (5, N'123', N'bugra', N'kocaeli', N'(544) 206-5950', N'456', CAST(665.00 AS Decimal(18, 2)), 1, CAST(50.000 AS Decimal(18, 3)), CAST(40.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[musteriler] OFF
GO
ALTER TABLE [dbo].[hareketler]  WITH CHECK ADD  CONSTRAINT [FK_hareketler_musteriler] FOREIGN KEY([musteriID])
REFERENCES [dbo].[musteriler] ([ID])
GO
ALTER TABLE [dbo].[hareketler] CHECK CONSTRAINT [FK_hareketler_musteriler]
GO
